{% extends "base.html" %}
{% block title %}References | Jayrathon Technologies{% endblock %}
{% block content %}
<section>
  <h2><i class="fas fa-book"></i> Reference Books & PDFs</h2>
  <div class="card-list">
    <div class="card"><a href="https://ads.harvard.edu/books/1990fnmd.book/chapt1.pdf" target="_blank"><i class="fas fa-book-open"></i> Numerical Methods – Harvard ADS</a></div>
    <div class="card"><a href="https://www.gnu.org/software/gsl/doc/latex/gsl-ref.pdf" target="_blank"><i class="fas fa-book"></i> GSL Statistics Reference</a></div>
    <div class="card"><a href="https://www.cs.cornell.edu/jeh/book.pdf" target="_blank"><i class="fas fa-university"></i> Foundations of Data Science (PDF)</a></div>
    <div class="card"><a href="https://d2l.ai/" target="_blank"><i class="fas fa-brain"></i> Dive into Deep Learning – Free Book</a></div>
    <div class="card"><a href="https://jakevdp.github.io/PythonDataScienceHandbook/" target="_blank"><i class="fas fa-book-reader"></i> Python Data Science Handbook</a></div>
    <div class="card"><a href="https://www.statlearning.com/" target="_blank"><i class="fas fa-book-medical"></i> An Introduction to Statistical Learning (ISL)</a></div>
  </div>
</section>
{% endblock %}