{% extends "base.html" %}
{% block title %}Communities | Jayrathon Technologies{% endblock %}
{% block content %}
<section>
  <h2><i class="fas fa-users"></i> Data Science Communities</h2>
  <div class="card-list">
    <div class="card"><a href="https://stackoverflow.com/questions/tagged/data-science" target="_blank"><i class="fab fa-stack-overflow"></i> Stack Overflow – Data Science Tag</a></div>
    <div class="card"><a href="https://www.kaggle.com/discussion" target="_blank"><i class="fas fa-comments"></i> Kaggle Forums</a></div>
    <div class="card"><a href="https://www.reddit.com/r/datascience/" target="_blank"><i class="fab fa-reddit"></i> Reddit r/datascience</a></div>
    <div class="card"><a href="https://discord.com/invite/data-science" target="_blank"><i class="fab fa-discord"></i> Discord Data Science Community</a></div>
    <div class="card"><a href="https://www.linkedin.com/groups/8569474/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn Data Science Central</a></div>
  </div>
</section>
{% endblock %}