{% extends "base.html" %}
{% block title %}Practice Platforms | Jayrathon Technologies{% endblock %}
{% block content %}
<section>
  <h2><i class="fas fa-keyboard"></i> Practice Platforms</h2>
  <div class="card-list">
    <div class="card"><a href="https://www.kaggle.com/" target="_blank"><i class="fas fa-trophy"></i> Kaggle – Data Science Competitions</a></div>
    <div class="card"><a href="https://www.hackerrank.com/domains/tutorials/10-days-of-statistics" target="_blank"><i class="fas fa-code"></i> HackerRank – Statistics Challenges</a></div>
    <div class="card"><a href="https://leetcode.com/" target="_blank"><i class="fas fa-laptop-code"></i> LeetCode – Coding Practice</a></div>
    <div class="card"><a href="https://www.stratascratch.com/" target="_blank"><i class="fas fa-database"></i> StrataScratch – SQL & Python Interview Practice</a></div>
  </div>
</section>
{% endblock %}