{% extends "base.html" %}
{% block title %}YouTube Channels | Jayrathon Technologies{% endblock %}
{% block content %}
<section>
  <h2><i class="fab fa-youtube"></i> YouTube Channels</h2>
  <div class="card-list">
    <div class="card"><a href="https://www.youtube.com/c/StatQuest" target="_blank"><i class="fas fa-video"></i> StatQuest with Josh Starmer</a></div>
    <div class="card"><a href="https://www.youtube.com/c/krishnaik06" target="_blank"><i class="fas fa-video"></i> Krish Naik</a></div>
    <div class="card"><a href="https://www.youtube.com/c/CoreySchafer" target="_blank"><i class="fas fa-video"></i> Corey Schafer</a></div>
    <div class="card"><a href="https://www.youtube.com/@freecodecamp" target="_blank"><i class="fas fa-video"></i> freeCodeCamp.org</a></div>
    <div class="card"><a href="https://www.youtube.com/c/Sentdex" target="_blank"><i class="fas fa-video"></i> sentdex</a></div>
    <div class="card"><a href="https://www.youtube.com/c/DataSchool" target="_blank"><i class="fas fa-video"></i> Data School</a></div>
  </div>
</section>
{% endblock %}